body {
  background: #e8dab3;
}
.container{
  width: 900px;
}

h1{
  float:left;
}

.head{
  display:inline-block;
  vertical-align: middle;
}

.row {
  font-size:18px;
}
.buttons{
  float:right;
}

.off-on{
  overflow:hidden;
  width:10px;
}

.indiv{
  text-align:center;
}

.menu {
  float:right;
  clear:right;
}

.logo{
  height: 50px;
}

.row{
  margin:10px;
}

.menu a{
  text-decoration: none;
}

.online{
  background:  #383326;
  color:white;
  padding:10px;
}

.streaming, .streaming:hover{
  text-decoration: none;
  color: white;
}